{#
/**
 * @file
 * Component template for twig-example-render-component component.
 */
#}
<div class="twig-example-render-component">
  <h3>{% trans %}Render Twig Hello World Component{% endtrans %}</h3>
  {{ twig_example_hello_word() }}
  <h3>{% trans %}Render Twig Input Config Component{% endtrans %}</h3>
  {{ twig_example_input_config({
    'content': {
      'title': 'Rendered from Twig Example Render Component'|t,
      'description': 'This component was rendered from another component using twig function.'|t
    }
  }) }}
</div>
