{#
/**
 * @file
 * Component template for twig-example-css-js component.
 */
#}
<div id="twig-example-css-js" class="twig-example-css-js">
  <h2>{% trans %}Example Css/Js{% endtrans %}</h2>
  <button>{% trans %}click here{% endtrans %}</button>
</div>
