.twig-example-css-js {
  padding: 1rem;
  border: 1px solid;
  border-radius: .25rem;
}

.twig-example-css-js h2 {
  color: #3a3a3a;
}

.twig-example-css-js button {
  color: white;
  background-color: blue;
}
